{% extends 'basestart.html' %}
{% block content %}
<h1>SGCE | Acesso</h1>
<div class="background"></div>
<div class="wrapper">
	<div class="box">
		<div class="header grey">
			<img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/lock.png" width="16" height="16">
			<h3>Acesso</h3>
		</div>
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<div class="content no-padding">
				<div class="section _100">
					<label>
						Usu&aacute;rio
					</label>
					<div>
						{{ form.username }}
					</div>
				</div>
				<div class="section _100">
					<label>
						Senha
					</label>
					<div>
						{{ form.password }}
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="actions-left">
					{% if form.errors %}
						<font color="red">Usuário ou senha incorretos</font>
					{% endif %}
				</div>
				<div class="actions-right">
					<input type="submit" value="Entrar"/>
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
			</div>
		</form>
	</div>
	<div class="shadow"></div>
	<br>
	<a href="{% url 'signup' %}"><strong>Não possui uma conta? Clique aqui para registrar-se</strong></a>
</div>
{% endblock %}
