{% extends "basestart.html" %}
{% block content %}
<h1>SGCE | Registro</h1>
<div class="background"></div>
<div class="wrapper">
    <div class="box">
        <div class="header grey">
            <img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/category.png" width="16" height="16">
            <h3>Registro</h3>
        </div>
        <form action="" method="POST">
            <div class="content with-actions grey">
                {% csrf_token %}
                <div class="section _100">
                    <label>
                        {{ form.name.label }}
                    </label>
                    <div>
                        {{ form.name }}
                    </div>
                    <div style="color: red">
                        {{ form.name.errors.as_text }}
                    </div>
                </div>
                <div class="section _100">
                    <label>
                        {{ form.email.label }}
                    </label>
                    <div>
                        {{ form.email }}
                    </div>
                    <div style="color: red">
                        {{ form.email.errors.as_text }}
                    </div>
                </div>
                <div class="section _100">
                    <label>
                        {{ form.username.label }}
                    </label>
                    <div>
                        {{ form.username }}
                    </div>
                    <div style="color: red">
                        {{ form.username.errors.as_text }}
                    </div>
                </div>
                <div class="section _100">
                    <label>
                        {{ form.password.label }}
                    </label>
                    <div>
                        {{ form.password }}
                    </div>
                    <div style="color: red">
                        {{ form.password.errors.as_text }}
                    </div>
                </div>
                <div class="section _100">
                    <label>
                        {{ form.cpf.label }}
                    </label>
                    <div>
                        {{ form.cpf }}
                    </div>
                    <div style="color: red">
                        {{ form.cpf.errors.as_text }}
                    </div>
                </div>
                <div class="section _100">
                    <label>
                        {{ form.nationality.label }}
                    </label>
                    <div>
                        {{ form.nationality }}
                    </div>
                    <div style="color: red">
                        {{ form.nationality.errors.as_text }}
                    </div>
                </div>
                <div class="section _25">
                    <label>
                        {{ form.sex.label }}
                    </label>
                    <div style="margin-top: 5px">
                        {{ form.sex }}
                    </div>
                    <div style="color: red">
                        {{ form.sex.errors.as_text }}
                    </div>
                </div>
                <div class="section _100">
                    <label>
                        {{ form.scholarity.label }}
                    </label>
                    <div>
                        {{ form.scholarity }}
                    </div>
                    <div style="color: red">
                        {{ form.scholarity.errors.as_text }}
                    </div>
                </div>
                <div class="section _100">
                    <label>
                        {{ form.birth.label }}
                    </label>
                    <div>
                        {{ form.birth }}
                    </div>
                    <div style="color: red">
                        {{ form.birth.errors.as_text }}
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="actions-right">
                    <input value="Registrar" type="submit"> 
                </div>
            </div>
        </form>
    </div>
    <div class="shadow"></div>
	<br>
	<a href="{% url 'login' %}"><strong>Já possui uma conta? Clique aqui para entrar</strong></a>
</div>
{% endblock %}
