{% extends 'sgceusr/base.html' %}
{% block content %}
<h2 class="grid_12">{{ content_title }}</h2>
<div class="clean"></div>
<div class="grid_12">
	<div class="box">
		<div class="content">
			<table id="table-activities" class="table">
				<thead>
					<tr>
						<th>Evento</th>
						<th>Atividade</th>
						<th>Data</th>
						<th>Local</th>
						<th>Vagas</th>
						<th>Carga Horária</th>
						<th>Preço</th>
						<th>Pontos</th>
					</tr>
				</thead>
				<tbody>
					{% for activity in object_list %}
					{% if activity.event.all.0 %}	
					<tr>
						<td><strong><a href="{% url 'event' activity.event.all.0.slug %}">{{ activity.event.all.0.name }}</a></strong></td>
						<td><strong>{{ activity.name }}</strong></td>
						<td>{{ activity.date }}</td>
						<td>{{ activity.local }}</td>
						<td>{{ activity.maxpeople }}</td>
						<td>{{ activity.charge }}</td>
						<td>{{ activity.price }}</td>
						<td>{{ activity.points }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div> <!-- End of .content -->
		<div class="clear"></div>
	</div> <!-- End of .box -->
</div> <!-- End of .grid_12 -->
{% endblock %}
{% block end-scripts %}
<script defer>
	$(window).load(function() {
		$('#table-activities').dataTable({
			"iDisplayLength": 50,
			"aaSorting": [],
		});
		$(window).resize();
	});
</script>
{% endblock %}
