{% extends 'basesgce.html' %}
{% load sgce_extras %}
{% block header-title %}SGCE - Sistema de Gerencimento e Controle de Eventos{% endblock %}
{% block header-menu %}
<nav id="header_main">
<div class="container_12">
	<ul id="nav_main">
		<li class="{% active_page request '^/sgceusr/$' %}">
		<a href="{% url 'home' %}">
			<img src="{{ STATIC_URL }}img/icons/25x25/dark/blocks---images.png" width=25 height=25 alt="">
			Principal</a>
		<ul>
			<li class="{% active_page request '^/sgceusr/$' %}"> <a href="{% url 'home' %}">In&iacute;cio</a> </li>
		</ul>
		</li>
		<li class="{% active_page request '^/sgceusr/events/' %}">
		<a href="{% url 'events' %}">
			<img src="{{ STATIC_URL }}img/icons/25x25/dark/flag.png" width=25 height=25 alt="">
			Eventos</a>
		<ul>
			<li class="{% active_page request '^/sgceusr/events/$' %}">
			<a href="{% url 'events' %}">Lista de eventos</a>
			</li>
			<li class="{% active_page request '^/sgceusr/events/enrolled/$' %}">
			<a href="{% url 'events-enrolled' %}">Meus eventos</a>
			</li>
		</ul>
		</li>
		<li class="{% active_page request '^/sgceusr/activities/' %}">
		<a href="{% url 'activities' %}">
			<img src="{{ STATIC_URL }}img/icons/25x25/dark/day-calendar.png" width=25 height=25 alt="">
			Atividades</a>
		<ul>
			<li class="{% active_page request '^/sgceusr/activities/$' %}">
			<a href="{% url 'activities' %}">Lista de atividades</a>
			</li>
			<li class="{% active_page request '^/sgceusr/activities/enrolled/$' %}">
			<a href="{% url 'activities-enrolled' %}">Minhas atividades</a>
			</li>
		</ul>
		</li>
		<li class="{% active_page request '^/sgceusr/payments/' %}">
		<a href="{% url 'payments' %}">
			<img src="{{ STATIC_URL }}img/icons/25x25/dark/piggy-bank.png" width=25 height=25 alt="">
			Pagamentos</a>
		<ul>
			<li class="{% active_page request '^/sgceusr/payments/$' %}">
			<a href="{% url 'payments' %}">Meus pagamentos</a>
			</li>
		</ul>
		</li>
		<li class="{% active_page request '^/sgceusr/account/' %}">
		<a href="{% url 'account' %}">
			<img src="{{ STATIC_URL }}img/icons/25x25/dark/user-2.png" width=25 height=25 alt="">
			Minha conta</a>
		<ul>
			<li class="{% active_page request '^/sgceusr/account/$' %}">
			<a href="{% url 'account' %}">Editar informações</a>
			</li>
		</ul>
		</li>
	</ul>
</div>
</nav>
<div id="nav_sub"></div>
{% endblock %}
{% block sidebar-content %}
<h2>Minhas informa&ccedil;&otilde;es</h2>
<ul class="stats-list">
	<li>
	<a href="{% url 'events-enrolled' %}">Eventos inscritos <span>{{ user.nof_events_enrolled }}</span></a>
	</li>
	<li>
	<a href="{% url 'activities-enrolled' %}">Atividades inscritas<span>{{ user.nof_activities_enrolled }}</span></a>
	</li>
	<li>
	<a href="{% url 'payments' %}">Pagamentos efetuados<span>{{ user.nof_enrollments }}</span></a>
	</li>
	<li>
	<a href="#">Total investido<span>{{ user.money_spent }}</span></a>
	</li>
	<li>
	<a href="#">Pontos arrecadados<span>{{ user.points_earned }}</span></a>
	</li>
</ul>

<p>
</p>
<div class="divider"></div>
{% endblock %}
{% block content %}
<h2 class="grid_12">In&iacute;cio</h2>
<div class="clean"></div>
{% endblock %}
