{% extends 'sgceusr/base.html' %}
{% block content %}
<h2 class="grid_12"><a href="{% url 'event' event.slug %}">{{ event.name }}</a></h2>
<div class="clean"></div>
<div class="content no-padding">
	<div class="grid_12">
		{% if form.token.errors %}<p><font color="red" size="3"><strong>{{ form.token.errors }}</strong></font></p>{% endif %}
		<div class="box wizard" data-step="1">
			<div class="header">
				<img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/shadeless/tick.png" alt="" width="16"
				height="16">
				<h3>Inscrição</h3>
				<span></span>
			</div>
			<div class="content">
				<div class="steps">
					<ul>
						<li class="current">
						<a href="#step_1"> <span>1</span>
							<div>
								<strong>Confirmação</strong>
								<small>
									Confirme sua seleção
								</small>
						</div> </a>
						</li>
						<li>
						<a href="#step_2"> <span>2</span>
							<div>
								<strong>Pagamento</strong>
								<small>
									Finalize sua inscrição
								</small>
						</div></a>
						</li>
					</ul>
				</div>
				<form action="" method="POST">
					{% csrf_token %}
					<div class="wiz_page step_1">
						<div class="wiz_sidebar grid_3">
							<span>1</span>
							<div>
								<strong>Confirmação de atividades</strong>
								<small>
									Não é possível alterá-las
								</small>
							</div>
							<p>
								<br />
								Confirme as atividades que você selecionou previamente para sua inscrição, não existem extornos em relação ao cancelamento de atividades.
							</p>
							<p>
							<ul class="stats-list">
								<li><a href="#">Preço total<span style="margin-right: 25px"><font color="darkred">R${{ form.total_price.field.initial|floatformat:"2" }}</font></span></a></li>
								<li><a href="#">Preço total utilizando Voucher<span style="margin-right: 25px"><font color="darkgreen">R${{ form.off_price.field.initial|floatformat:"2" }}</font></span></a></li>
								<li><a href="#">Pontos recebidos<span style="margin-right: 25px"><font color="darkblue">{{ form.total_points.field.initial }}</font></span></a></li>
							</ul>
							</p>
						</div>
						<div class="wiz_content grid_9">
							<h3>Atividades selecionadas</h3>
							<table class="table">
								<thead>
									<tr>
										<th>Atividade</th>
										<th>Data</th>
										<th>Local</th>
										<th>Vagas</th>
										<th>Carga Horária</th>
										<th>Preço</th>
										<th>Pontos</th>
									</tr>
								</thead>
								<tbody>
									{% for activity in activities %}
									<tr>
										<td><strong><a href="{% url 'event' event.slug %}">{{ activity.name }}</a></strong></td>
										<td>{{ activity.date }}</td>
										<td>{{ activity.local }}</td>
										<td>{{ activity.maxpeople }}</td>
										<td>{{ activity.charge }}</td>
										<td>R${{ activity.price }}</td>
										<td>{{ activity.points }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<br>
							{% for activity in activities %}
							<input type="hidden" name="activities" value="{{ activity.id }}"/>
							{% endfor %}
						</div>
					</div>
					<div class="wiz_page step_2">
						<div class="wiz_sidebar grid_3">
							<span>2</span>
							<div>
								<strong>Pagamento</strong>
								<small>
									Realize seu pagamento
								</small>
							</div>
							<p>
								<br />
								Após a inscrição, caso utilizado um voucher, o mesmo será invalidado, ou seja, só poderá ser utilizado um voucher por inscrição, independente do número de atividades selecionadas.
							</p>
						</div>
						<div class="wiz_content grid_9">
							<h3>Informações do Cartão</h3>
							<div class="_50">
								<p>
									Número {{ form.cc_number }}
								</p>
							</div>
							<div class="_25">
								<p>
									Validade {{ form.cc_date }}
								</p>
							</div>
							<div class="_25">
								<p>
									Código Verificador {{ form.cc_cod }}
								</p>
							</div>
							<div class="_100">
								<p></p>
							</div>
							<h3>Voucher</h3>
							<p>Caso você possua um voucher do evento, por favor, digite o token no campo abaixo para obter seu desconto de <strong>20%</strong> no pagamento.<br>Utilizando um voucher, o preço total será reduzido de <font color='darkred'>R${{ form.total_price.field.initial|floatformat:"2" }}</font> para <font color='green'>R${{ form.off_price.field.initial|floatformat:"2" }}</font></p>
							<div class="_25">
								<p>
									Token {{ form.token }}
								</p>
							</div>
							<div class="_75">
							</div>
							<div class="_100">	
								<p><input type="submit" value="Efetuar inscrição" /></p>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="actions">
				<div class="actions-left">
					<button class="prev">
						&laquo; Anterior
					</button>
				</div>
				<div class="actions-right">
					<button class="next">
						Próxima &raquo;
					</button>
				</div>
			</div> <!-- End of .content -->
			<div class="clear"></div>
		</div> <!-- End of .box -->
	</div> <!-- End of .grid_12 -->
</div>
{% endblock %}
{% block end-scripts %}
<script defer>
	$(window).load(function() {
		$('#table-activities').dataTable({
			"iDisplayLength": 50
		});
		$(window).resize();
	});
</script>
{% endblock %}
