{% extends 'sgceusr/base.html' %}
{% block content %}
<h2 class="grid_12">{{ object.name }}</h2>
<div class="clean"></div>
<div class="grid_7">
	<div class="box">
		<div class="header">
			<img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/shadeless/blue-document.png" width="16" height="16">
			<h3>Informações principais</h3><span></span>
		</div>
		<div class="content">
			<p>Yo</p>
		</div>
	</div>
</div>
<div class="grid_5">
	<div class="box">
		<div class="header">
			<img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/shadeless/blue-document.png" width="16" height="16">
			<h3>Pessoas confirmadas</h3><span></span>
		</div>
		<div class="content">
			<ul class="stats-list">
				<li>
				<a href="#">Pessoas previstas <span>{{ object.people_preview }}</span></a>
				</li>
				<li>
				<a href="#">Pessoas confirmadas <span>{{ object.people_confirmed }}</span></a>
				</li>
				<li>
				<a href="#">Atividades propostas <span>{{ object.activities.all.count }}</span></a>
				</li>
				<li>
					<a href="#">Support Tickets <span>12</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="grid_12">
	<div class="box">
		<div class="header">
			<img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/shadeless/calendar-list.png" width="16" height="16">
			<h3>Atividades</h3><span></span>
		</div>
		<div class="content">
			<table id="table-activities" class="table">
				<thead>
					<tr>
						<th>Atividade</th>
						<th>Data</th>
						<th>Local</th>
						<th>Vagas</th>
						<th>Carga Horária</th>
						<th>Preço</th>
						<th>Pontos</th>
					</tr>
				</thead>
				<tbody>
					{% for activity in object.activities.all %}
					<tr>
						<td><strong><a href="{% url 'event' event.slug %}">{{ activity.name }}</a></strong></td>
						<td>{{ activity.date }}</td>
						<td>{{ activity.local }}</td>
						<td>{{ activity.maxpeople }}</td>
						<td>{{ activity.charge }}</td>
						<td>R${{ activity.price }}</td>
						<td>{{ activity.points }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div> <!-- End of .content -->
		<div class="clear"></div>
	</div> <!-- End of .box -->
</div> <!-- End of .grid_12 -->
{% endblock %}
{% block end-scripts %}
<script defer>
	$(window).load(function() {
		$('#table-activities').dataTable({
			"iDisplayLength": 50
		});
		$('#slider').sliderNav();
		$(window).resize();
	});
</script>
{% endblock %}
