{% extends 'sgceusr/base.html' %}
{% block content %}
<h2 class="grid_12">Início</h2>
<div class="clean"></div>
<div class="grid_12">
	{% if messages %}
		{% for message in messages %}
		<div class="alert success"> <span class="icon"></span>{{ message }} </div>
		{% endfor %}
	{% endif %}
	<div class="box">
		<div class="header">
			<img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/shadeless/flag-blue.png" width="16" height="16">
			<h3>Meus eventos</h3><span></span>
		</div>
		<div class="content">
			<table id="table-events" class="table">
				<thead>
					<tr>
						<th>Evento</th>
						<th>Local</th>
						<th>Data</th>
						<th>Vagas</th>
						<th>Atividades disponíveis</th>
					</tr>
				</thead>
				<tbody>
					{% for event in events %}
					<tr>
						<td><strong><a href="{% url 'event' event.slug %}">{{ event.name }}</a></strong></td>
						<td>{{ event.local }}</td>
						<td>{{ event.date }}</td>
						<td>{{ event.maxpeople }}</td>
						<td>{{ event.activities.count }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div> <!-- End of .content -->
		<div class="clear"></div>
	</div> <!-- End of .box -->
</div> <!-- End of .grid_12 -->

<div class="grid_12">
	<div class="box">
		<div class="header">
			<img src="{{ STATIC_URL }}img/icons/packs/fugue/16x16/shadeless/calendar-list.png" width="16" height="16">
			<h3>Minhas atividades</h3><span></span>
		</div>
		<div class="content">
			<table id="table-activities" class="table">
				<thead>
					<tr>
						<th>Evento</th>
						<th>Atividade</th>
						<th>Data</th>
						<th>Local</th>
						<th>Vagas</th>
						<th>Carga Horária</th>
						<th>Preço</th>
						<th>Pontos</th>
					</tr>
				</thead>
				<tbody>
					{% for activity in activities %}
					{% if activity.event.all.0 %}	
					<tr>
						<td><strong><a href="{% url 'event' activity.event.all.0.slug %}">{{ activity.event.all.0.name }}</a></strong></td>
						<td><strong>{{ activity.name }}</strong></td>
						<td>{{ activity.date }}</td>
						<td>{{ activity.local }}</td>
						<td>{{ activity.maxpeople }}</td>
						<td>{{ activity.charge }}</td>
						<td>R${{ activity.price }}</td>
						<td>{{ activity.points }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div> <!-- End of .content -->
		<div class="clear"></div>
	</div> <!-- End of .box -->
</div> <!-- End of .grid_12 -->
{% endblock %}
{% block end-scripts %}
<script defer>
	$(window).load(function() {
		$('#table-events').dataTable({
			"iDisplayLength": 10,
			"aaSorting": [],
		});
		$('#table-activities').dataTable({
			"iDisplayLength": 10,
			"aaSorting": [],
		});
		$(window).resize();
	});
</script>
{% endblock %}

